[submodule "test/lib/bats"]
	path = test/lib/bats
	url = git@github.com:bats-core/bats-core.git
[submodule "test/lib/bats-support"]
	path = test/lib/bats-support
	url = git@github.com:ztombol/bats-support.git
[submodule "test/lib/bats-assert"]
	path = test/lib/bats-assert
	url = git@github.com:jasonkarns/bats-assert-1.git
